.wrap[data-v-ef7c9a1c] .el-table thead {
  color: #000;
}
.wrap[data-v-ef7c9a1c] {
  margin-left: 30px;
  padding: 30px;
}
.wrap[data-v-ef7c9a1c] .el-table--enable-row-hover .el-table__body tr:hover>td {
  background-color: #b3c0d1 !important;
}
.bg-purple[data-v-ef7c9a1c] {
  background: #d3dce6;
}
.grid-content[data-v-ef7c9a1c] {
  border-radius: 4px;
  min-height: 50px;
  position: relative;
}
.grid-content .select-new[data-v-ef7c9a1c] {
  position: absolute;
  left: 50px;
  top: 4px;
}
.grid-content .delBatch[data-v-ef7c9a1c] {
  position: absolute;
  left: 20px;
  top: 10px;
}
.grid-content .pages[data-v-ef7c9a1c] {
  position: absolute;
  top: 10px;
  left: 30%;
}

